.landing_container {
    width: 100%;
    height: 60%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding: 1rem 0 1rem 0 ;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: moveDown 1s ease;
}

.title_container .name {
    font-size: 1.3rem;
}

.title_container .job {
    font-size: clamp(2.5rem , 6vw , 5rem); 
    text-align: center;
}

.img_container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.img_container::after {
    content: 'NACIMNACIMNACIM';
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    color: var(--text-secondary-color);
    font-size: 45rem;
    font-weight: bold;
    z-index: 0;
    opacity: 0.07;
    pointer-events: none;
    animation: moveRight 50s linear infinite;
}


.img_background {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: SlowDisplay 1s ease-in;
    cursor: pointer;
}


.img_background img {
    height: 100%;
    width: auto;
    border-radius: 50px;
    object-fit: cover;
    z-index: 10;
    transition: transform .3s ease;
}

.img_background_in_open {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.412);
}

.img_open {
    max-height: 280px;
    position: fixed;
    box-shadow:  0 0 10px 2px rgba(48, 32, 32, 0.446);
    transform: scale(1.8);
}


/* For animation */
.on_image_open {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


@media (max-width:800px) {
    .img_open {
        max-height: 200px;
    }
}


@keyframes moveDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes moveRight {
    0% {
        transform: translateX(0);
    }50% {
        transform: translateX(-200%);
    }100% {
        transform: translateX(0); 
    }
}


@keyframes SlowDisplay {
    from{
        opacity: 0;
    }to {
        opacity: 1;
    }
}