.user_info_container {
    max-width: 1200px;
    width: 90%;
    max-height: 280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-radius: 20px;
    background-color: var(--light-grey-color);
    animation: moveDown 1s ease;
}

.image_container {
    flex-shrink: 0;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container img {
    height: 100%;
    min-width: 80px;
    object-fit: contain;
    border-radius: 20px;
}

.main_container {
    flex-grow: 1;
    height: 100%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    min-width: 0;
}

.main_container h1 {
    font-size: 2.5rem;
    overflow-wrap: break-word;
}

.main_container p {
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

@media (max-width : 550px) {

    .user_info_container {
        max-width: 100%;
        width: 100%;
        gap: 0;
    }

    .image_container img {
        max-height: 200px;
        width: auto;
    }

    .main_container {
        width: 100%;
        padding: 0 1rem;
    }

    .main_container h1 {
        font-size: 1.4rem;
    }

    .main_container p {
        font-size: 1rem;
    }
}

@keyframes moveDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}