
.header {
    width: 100%;
    height: fit-content;
    max-height: 160px;
    padding: 10px 3vh;
    margin: 0 auto;
    background: linear-gradient(to bottom , var(--white-color) , transparent);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to bottom , var(--white-color), rgba(255, 255, 255, 0.83) ,  transparent);

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 1s ease-in;
}

.header p {
    font-weight: bold;
}

.cv_btn_container {   
    width: fit-content;
    align-content: center;
    border: none;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--main-color);
    animation: SlowDisplay 1s ease-in; 
    cursor: pointer;  
}

.cv_btn_container a {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 1em ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--white-color);
    text-decoration: none;
}


.cv_btn_container .cv_complete_name {
    padding-right: 0.6em;
    border-right: 2px solid var(--white-color);
}

.lang_btn_container {
    width: fit-content;
    animation: SlowDisplay 1s ease-in;   
    cursor: pointer;
}

.lang_btn_container button {
    width: fit-content;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--main-color);
    cursor: pointer;
}


.header p::first-letter {
    text-transform: uppercase;
}


.logo_container {
    height: 130px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    padding-top: 10px;
    align-content: center;
    animation: SlowDisplay 1s ease-in; 
}

.logo_container a {
    height: 100%;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.logo_container img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: fill;
}



@keyframes SlowDisplay {
    0%{
        opacity: 0;
    }50% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}


@media (max-width : 500px) {

    .cv_btn_container {
        height: 40px;
    }
    .lang_btn_container {
        height: 40px;
    }
    .cv_complete_name {
        display: none;
    }
    .logo_container {
        height: 100px;
    }
}
