 .container {
    width: 100%; 
    min-height: fit-content;
    max-height: 100px;
    padding: 1rem;
    border-radius: 20px;
    
    display: flex;
    gap: 1rem;
    overflow-y: auto;
    animation: moveDown 1s ease;
}


@keyframes moveDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}