.LandingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.header {
    width: 100%;
    height: 60px;
    padding: 2vh 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.8s ease-in;
}


.header .cv_btn_container {
    height: 100%;
    width: fit-content;
    animation: SlowDisplay 1s ease-in;
}

.header .lang_btn_container {
    height: 100%;
    width: fit-content;
    animation: SlowDisplay 1s ease-in; 
}

.lang_btn_container button {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 30px;
    color: var(--white-color);
    background-color: var(--main-color);
}

.lang_btn_container p {
    font-size: 1rem;
    font-weight: bold;    
}


.lang_btn_container p::first-letter {
    text-transform: uppercase;
}

.main {
    margin-top: 5%;
    width: 100%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    padding-bottom: 30px;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: moveUp 1s ease;
}

.title_container .name {
    font-size: 1.5rem;
}

.title_container .job {
    font-size: clamp(2.5rem , 6vw , 5rem); 
    text-align: center;
}

.img_container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.img_container::after {
    content: 'NACIMNACIMNACIM';
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    color: var(--text-secondary-color);
    font-size: 45rem;
    font-weight: bold;
    z-index: 0;
    opacity: 0.07;
    pointer-events: none;
    animation: moveRight 50s linear infinite;
}


.img_background {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: SlowDisplay 1s ease-in;
}


.img_background img {
    height: 300px;
    width: auto;
    border-radius: 50px;
    object-fit: cover;
    z-index: 10;
    transition: transform .3s ease;
}

.img_background_in_open {
    content: '';
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.412);
}

.img_open {
    height: auto;
    position: fixed;
    box-shadow:  0 0 10px 2px rgba(48, 32, 32, 0.446);
    transform: scale(2);
}


.question_feilds_container {
    height: fit-content;
    width: 100%;
    min-height: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    animation: moveDown 1s ease;
}

.question_buttons_container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    animation: moveDown 1.5s ease;
}


/* For animation */
.on_image_open {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

@media (max-width : 400px) {

    .header {
        height: 40px;
        padding: 1vh 2vh;
    }

    .main {
        gap: 1vh;
    }

    .img_container::after {
        font-size: 30rem;
    }

    .img_container img {
        height: 220px;
    }

    .img_open {
        transform: scale(2.1);
    }

}


@keyframes moveUp {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


@keyframes moveDown {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }50% {
        transform: translateX(-200%);
    }100% {
        transform: translateX(0); 
    }
}


@keyframes SlowDisplay {
    0%{
        opacity: 0;
    }50% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}