.container {
    width: 100%;
    height: 100%;
    max-width: 800px;
    padding: 200px 1rem 1rem 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: SlowDisplay 0.2s ease-in; 
    overflow-y: auto;
}

p {
    font-weight: 500;
}


.answer_container {
    width: 100%;
    height: auto;
    padding-top: 1rem;
}



@keyframes SlowDisplay {
    from{
        opacity: 0;
    }to {
        opacity: 1;
    }
}